<!--<ul>-->
  <!-- <li *ngFor = "let variable of arreglo">-->
    <!--<app-usuarios *ngFor = "let variable of arreglo" [nameUser]="variable"></app-usuarios>-->
  <!--</li>-->

<!--55-->


<!--<div>
  <p>nombre: {{name}}</p>
  <p>Calle: {{address.street}}</p>
  <p>Ciudad: {{address.city}}</p>

  <ul >
    <li *ngFor ="let pasatiempo of hobbies">
      {{pasatiempo}}
    </li>
  </ul>
</div>-->
<!--
<form (submit)="AgregarUsuario(newuser)">
  <input type="text" #newuser>
  <button>Enviar usuario</button>
  
 </form>


<ul>
  <li *ngFor = "let variable of users">
    {{variable}} <button (click)="BorrarUsuario(variable)"> Borrar</button>
  </li>
</ul>-->

<!--<button (click)="Metodo1()">
  Dar click
</button>-->

<!--<div>
  <form>
    <input type = "text" name ="name" [(ngModel)] = "name">  
    <input type="text" name = "age" [(ngModel)] = "age">  
  </form>
  nombre: {{name}}<br>
  edad: {{age}}
</div>

<hr>
<div *ngFor ="let valor of postear">
  <h1>{{valor.title}}</h1>
  <p>{{valor.body}}</p>
</div>-->
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
</ul>

<router-outlet></router-outlet>